<nav>
  <button type="button" onclick= {{action "deleteEmail" model}}>
    Delete
  </button>
</nav>
<h1>Subject: {{model.title}} </h1>
<h3>To: {{model.to}} </h3>
<h3>From: {{model.from}} </h3>
<p>{{model.message}}</p>
