
<div class="starredList">
  <h2>Starred</h2>
  {{#each model as |email|}}
    {{#if email.starred}}
      <SingleEmail
        @email={{email}}
        />
    {{/if}}
  {{/each}}
</div>
<div  class="unstarredList">
  <h2>Unstarred</h2>
  {{#each model as |email|}}
  {{#if email.starred}}
  {{else}}
  <p data-test="countList">
    <SingleEmail
      @email={{email}}
    />
  </p>
  {{/if}}
  {{/each}}
</div>


<!--

  {{#each model as |email|}}
    <div>
      <div class="starButton">
      <StarButton
        @on={{email.starred}}
        @onClick={{action "star" email}}
         />
      </div>
      <div class="from">
        {{email.from}}
      </div>
      {{#link-to "email" email.id}}
        <div class="message">
          <p>
            {{truncate-text email.message 80}}
          </p>
        </div>
      {{/link-to}}
    </div>
  {{/each}} -->
{{outlet}}
